# Python specific
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env/
.venv/
include/
bin/
lib/
share/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Project specific
dataset/
model/
.env